<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<h1>FASZ XDDD</h1>
<h1>ALMA</h1>
<%= @time%>
<ul>
  <li>EGY</li>
  <li>Ketto</li>
  <li>Harom</li>
</ul>

<ul>
  <% for i in ["egy", 2, 3.0] %>
    <li><h1>Hello <%= i%></h1></li>
  <% end %>
</ul>


