<div class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar" id="navbarNav">
        <div class="nav-link">
          <%= link_to "My Profile", profile_path(session[:user])  %>
        </div>
        <div class="nav-link">
          <%= link_to "Projects", projects_path %>
        </div>
        <div class="nav-link">
          <%= link_to "Teams", teams_path %>
        </div>
        <div class="nav-link">
          <%= link_to "Logout", '/sessions/destroy' %>
        </div>
    </div>
  </div>
</div>